<div class="container-fluid">
    
    <div class="imgPrez">
        <img  class="isaAndSyd"
        src="./assets/img/isaSyd.jpg" alt="photo enfant allonge sur cheval">
    </div>

    <div class="textPrezEquitherapie">

       <p>Le cheval est un animal sensible au langage corporel et aux émotions de l’humain. 
        Il  peut voir sans juger, entendre sans jamais rien répéter. 
        Fidèle et respectueux, il ne remet pas en question le lien
        qu’il crée avec l’autre et possède cette capacité à renvoyer 
        une image bienveillante des qulités et ressources qui fonde l’être en lui-même.</p>
        
        <p>La relation avec le cheval permet de lever les peurs, les angoisses,
         les frustrations, les blocages et les inhibitions.
         L’équithérapie apporte un apaisement ainsi qu’un retour de confiance en soi.</p>

        <p><em>Pour qui </em>:
         L’accompagnement que je propose s’adresse à des enfants (à partir de 3 ans)
         et des adolescents. Il a:bordera différentes dimensions comme : 
        le sensoriel
        la communication
        la gestion des émotions
        la parole, le langage
        les habilités sociales
        les apprentissages
        l’attention, la mémoire, les fonctions exécutives
        la motricité fine et globales
        l’estime de soi, la confiance en soi.... (liste non exhaustive)</p>

       <p> Ainsi, les bienfaits de la méditation équine sont nombreux ou le bien-être 
        et la bienveillance sont au centre de nos échanges. </p>



    </div>

    <div class="imgFinPrez">

        <img  class="isaAndSyd"
        src="./assets/img/isaEnfantjeux.jpg" alt="photo enfant jouant avec cheval">

        <img  class="isaAndSyd"
        src="./assets/img/goIsaExt.jpg" alt="complicite avec cheval">
    </div>

</div>
