<div class="container">
  
  <div
    id="carouselExampleControls"
    class="row carousel slide"
    data-bs-ride="carousel"
  >
  <div class="col">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/img/isaSyd.jpg"
          class="d-block w-100"
          alt="photo enfant allongé sur cheval"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/isaEnfantJeux.jpg"
          class="d-block w-100"
          alt="photo enfant jouant avec cheval"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/goIsaExt.jpg"
          class="d-block w-100"
          alt="photo go complicité isatis"
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <div class="defEquitherapie">
    <h6>
      “La méditation équine est une thérapie qui permet, avec des chevaux
      spécialement éduqués, <br><br> maintenir ou d’améliorer un état de bien-être
      physique, psychologique, affectif et social”
    </h6>
  </div>
  <div class="col textPrezEquitherapie">
    <p>
      Le cheval est un animal sensible au langage corporel et aux émotions de
      l’humain. <br>
      Il peut voir sans juger, entendre sans jamais rien répéter.<br>
      Fidèle et respectueux, il ne remet pas en question le lien qu’il crée avec
      l’autre et possède cette capacité à renvoyer une image bienveillante.
    </p>

    <p>
      La relation avec le cheval permet de lever les peurs, les angoisses, les
      frustrations, les blocages et les inhibitions. L’équithérapie apporte un
      apaisement ainsi qu’un retour de confiance en soi.
    </p>

    <p>
      <em><strong>Pour qui </strong></em>: L’accompagnement que je propose s’adresse à des
      enfants (à partir de 3 ans) et des adolescents. <br> Il abordera différentes
      dimensions comme : <br><br>- le sensoriel <br>- la communication <br>- la gestion des émotions<br>- 
      la parole, le langage <br>- les habilités sociales <br>- les apprentissages <br>
      - l’attention, la mémoire, les fonctions exécutives <br>- la motricité fine et
      globales <br>- l’estime de soi, la confiance en soi.... (liste non exhaustive)
    </p>

    <p>
        <em><strong>Ainsi, les bienfaits de la méditation équine sont nombreux ou le bien-être
      et la bienveillance sont au centre de nos échanges. </strong></em>

    </p>
  </div>
</div>
