.imgPrez {
    margin-top: 80px;
}
.isaAndSyd {
    width: 350px;
    height: 40%;
}
.textPrezEquitherapie {
    border: 2px solid pink;
    margin-top: 15px;
    Text-align: justify;

}

.imgFinPrez {
    border: 2px solid purple;

}

