<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar ">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/accueil">Accueil</a></li>
        <li><a class="nav-link scrollto" routerLink="/equitherapie">Equithérapie</a></li>
        <li><a class="nav-link scrollto" routerLink="/therapeute">Therapeutes</a></li>
        <li><a class="nav-link scrollto" routerLink="/admin">Gestion</a></li>
      </ul>
  
  </nav>
  
  </header>

 