

#hero {
    width: 100%;
    background: url("/assets/img/fondImg.jpg") top right;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

.card {
    margin: 10px;
    border-radius: 5px;
   
}
.deleteBtn, .editBtn {
    color: white;
}

.buttonCreate {
    width: 200px;
    height:50px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 95px;
    background-color: #ffb727; 
    color: rgb(82, 77, 77);
    z-index: 1;
    font-size: 17px;
}
img{
    width: 80px;
    height: 80px;

    border-radius: 50%;
}
.card-text {
    text-align: justify;
    border-top: 2px solid #ffb727;
    padding-top: 8px;
}
.card-nom {
    text-align: center;
    font-style: italic;
    font-size: 20px;
   
}
@media screen and (max-width: 768px){
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;       
    }
    .buttonCreate {
        width: 200px;
        height:50px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 95px;
        background-color: #ffb727; 
        color: rgb(82, 77, 77);
        z-index: 1;
        font-size: 17px;
    }
    .card-text {
        text-align: justify;
        border-top: 2px solid #ffb727;
        padding-top: 8px;
        font-size: 12px;
    }
    .card-nom {
        text-align: center;
        font-style: italic;
        font-size: 17px;
       
    }
}